.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.yellow {
    border: 1px solid yellow;
}

body {
    background-color: #5a503e;
    margin: 0;
    color: #e5e1d8;
}

/* Top */
#top {
    margin: 0;
    padding: 0;
    background: url('pic/top_1.png') no-repeat center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

#top .container {
    margin-top: 25vh;
}

#top h1 {
    font-size: 4rem;
}

#top h3 {
    font-size: 2rem;
}

/* Education & Skills*/
.edu-ski {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: white;
}

.edu-ski ul {
    text-align: left;
    list-style: none;
}

.edu-ski li {
    margin: 1rem 0;
}

.edu-ski h1 {
    font-size: 2.5rem;
}

.edu-col {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    margin: 1rem;
    background: black;
    font-size: 1.25rem;
}

.ski-col {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    margin: 1rem;
    background: #5a503e;
    font-size: 1.25rem;
}

/* Portfolio */
.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 10vw);
    grid-gap: 20px;
    margin: 1rem;
}

.gallery h1 {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    grid-column: 1 / -1;
    align-items: center;
    font-size: 2.5rem;
    color: #e5e1d8;
}

.gallery h1:before, .gallery h1:after {
    content: '';
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.img-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.img-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.img-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
}

.img-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}

.img-5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}

/* Footer */
footer .footer-btm {
    background: black;
    padding: 1rem;
    text-align: center;
}

footer p {
    color: #e5e1d8;
}

footer h1 {
    font-size: 2.5rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: white;
    padding: 1rem;
    text-align: center;
}

.cont-col {
    grid-column-start: 1;
    grid-column-end: 2;
    background: #5a503e;
}

.form-col {
    grid-column-start: 2;
    grid-column-end: 3;
}

.form-control {
    display: block;
    width: 100%;
    height: 1.5rem;
    margin: 0.5rem;
    border: 0;
    border-bottom: 1px solid #5a503e;
  }

.input-textarea {
    min-height: 120px;
    width: 100%;
    margin: 0.5rem;
  }

.submit-btn {
    display: block;
    width: 100%;
    margin: 0.5rem;
    cursor: pointer;
    background: black;
    font-size: 1rem;
    color: #e5e1d8;
  }

.container {
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}

.section {
    padding: 2rem 0;
}

nav {
    height: 40px;
    width: 100%;
    background-color: black;
    position: fixed;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: #e5e1d8;
    text-indent: 25px;
}

nav a#openup {
    display: none;
  }

@media screen and (max-width: 580px) {
    .hide-on-small {
        display: none;
    }

    nav {
        height: auto;
        border-bottom: 0;
      }

    nav ul {
        display: none;
        height: auto;
      }
    
    nav li {
        width: 100%;
        float: left;
        position: relative;
      }

    nav a {
        text-indent: 25px;
        text-align: left;
        width: 100%;
    }
    nav a#openup:after {
        content: "|||";
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        /* IE 9 */
        -webkit-transform: rotate(-90deg);
        /* Safari and Chrome */
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 20px;
      }
      nav a#openup {
        display: block;
        background-color: black;
        width: 100%;
        position: relative;
      }
}

.cf:before, .cf:after {
    content: "";
    display: table;
  }

  .cf:after {
    clear: both;
  }

  .cf {
    zoom: 1;
  }